:root {
    --bg-color: #fafafa;
    --accent: #5b00ff;
    --text: #333333;
    --link: rgba(91, 0, 255, 0.75);
    --label: #9e9e9e;
    --border: #e8e8e8;
    --radius: 8px;
    --transtion: all .35s ease-out;
}

html, body {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: normal;
    background: var(--bg-color);

}
.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin: 0 0 32px;
    font-size: 32px;
    color: var(--text);
}
a {
    color: var(--link);
    transition: var(--transtion);
}
a:hover {
    color: var(--accent);
}
.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 32px;
    text-align: left;
}
.field label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--label);
}
.field input,
.field textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    font-size: 16px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    outline: 0;
    transition: var(--transtion);
}
.field input:hover,
.field input:focus,
.field textarea:hover,
.field textarea:focus {
    border-color: var(--accent);
    outline: 0;
}
.field span {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    font-style: italic;
    color: var(--text);
}
.btn {
    display: inline-flex;
    margin-top: 40px;
    padding: 16px 32px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    background: var(--link);
    border: none;
    border-radius: var(--radius);
    transition: var(--transtion);
    cursor: pointer;
}
.btn:hover,
.btn:focus {
    background: var(--accent);
    outline: 0;
}
